{% extends 'base.html' %}

{% block title %} {% endblock title %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/enter_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Welcome Container -->
    <div class="container-fluid welcome-container">
        <div class="container">
            <h1>Bem-vindo, {{ user.username }}</h1>
            <p>Paínel de Saúde.</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div id="examsCarousel" class="carousel slide col-md-12 col-lg-4 info-container" data-ride="carousel">
                <h2>Últimos Exames</h2>
                <div class="carousel-inner">
                    {% for exam in latest_exams %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <h5>{{ exam.exam_type }} - {{ exam.uploaded_at }}</h5>
                        <p>{{ exam.results }}</p>
                        <a href="{% url 'exam_detail' exam.id %}" class="btn btn-primary">Detalhes</a>
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        <p>No exams uploaded yet.</p>
                    </div>
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#examsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#examsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <!-- Center Graph Container -->
            <div class="col-md-12 col-lg-4 graph-container">
                <h2>Gráfico do Exame</h2>
                <div id="examGraphCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Carousel items will be inserted here by JavaScript -->
                    </div>
                    <a class="carousel-control-prev" href="#examGraphCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#examGraphCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>  
            </div>

            <!-- Right Information Container -->
            <div class="col-md-12 col-lg-4 info-container">
                <h2>Informações</h2>
                <p>Additional details and information go here.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 main-info-container">
                <h2>Mais Informações</h2>
                <p>More detailed information goes here.</p>
            </div>
        </div>
    </div>

    <script>

        const graphData = JSON.parse('{{ graph_data_json|escapejs }}');

        const carouselInner = document.querySelector('#examGraphCarousel .carousel-inner');

        const parseDates = (dates) => dates.map(date => new Date(date));

        console.log(graphData);


        Object.keys(graphData).forEach((examType, index) => {
            const isActive = index === 0 ? 'active' : '';
            const carouselItem = document.createElement('div');
            carouselItem.classList.add('carousel-item', isActive);

            const canvas = document.createElement('canvas');
            canvas.id = `chart-${index}`;
            carouselItem.appendChild(canvas);
            carouselInner.appendChild(carouselItem);

            const dates = graphData[examType].labels
            const results = graphData[examType].data

            const chartData = {
                labels: dates,
                datasets: [{
                    label: examType,
                    data: results,
                    borderColor: `hsl(${index * 360 / Object.keys(graphData).length}, 70%, 50%)`,
                    fill: false,
                    pointRadius: 5

                }]
            };

            const chartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'category',
                        time: {
                            unit: 'day',
                            tooltipFormat: '"yyyy-MM-dd"',
                            displayFormats: {
                                day: '"yyyy-MM-dd"'
                            }
                        },
                        title: {
                            display: true,
                            text: 'Data'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Resultados'
                        },
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: `${examType} Resultados`
                    }
                }
            };

            const ctx = canvas.getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: chartData,
                options: chartOptions
            });
        });
    </script>

</body>
</html>
{% endblock content %}
